<%= simple_form_for(@produto) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :descricao %>
    <%= f.input :preco %>
    <%= f.input :estoque %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <%= f.label :imagem %>
  <%= f.file_field :imagem %>
<% end %>
